@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background: black;
    color: aquamarine;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: transparent;
}
form input{
    border: 2px solid #eee;
    border-radius: 10px;
    color: white;
}
form button{
    cursor: pointer;
    transition: all 0.5s ease;
    color: #eee;
}
form button:hover{
    color: aquamarine;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: coral;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
}
.todo li{
    flex: 1;
}
.trash-btn,.completed-btn{
    padding: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
}
.trash-btn{
    background: rgb(236, 16, 82);  
}
.completed-btn{
    background: rgb(10, 206, 108);
}
.item{
    padding: 0rem 0.5rem
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
