@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background: black;
    color: aquamarine;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: transparent;
}
form input{
    border: 2px solid #eee;
    border-radius: 10px;
}
form button{
    cursor: pointer;
    transition: all 0.5s ease;
    color: #eee;
}
form button:hover{
    color: aquamarine;
}
