@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background: black;
    color: white;
    background: linear-gradient(132deg, #e00a52, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
    min-height: 100vh;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: transparent;
}
form input{
    border: 2px solid #eee;
    border-radius: 10px;
    color: white;
}
form button{
    cursor: pointer;
    transition: all 0.5s ease;
    color: #eee;
}
form button:hover{
    color: #eee;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: rgb(18, 18, 19);
    color: white;
    font-size: 1.5rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
    justify-content: space-between;
    transition: all 1s ease;
}
.todo li{
    flex: 1;
}
.trash-btn,.completed-btn{
    padding: 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
}
.trash-btn{
    background: rgb(236, 16, 82);  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.completed-btn{
    background: rgb(10, 206, 108);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item{
    padding: 0rem 0.5rem
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    opacity: 0;
    transition: all 2s;
}